 .nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* border: 1px solid red; */
    justify-content: space-between;
}

 .nav-bar>.nav-bar-left{
    width: 30%;
    height: 80px;
    display: flex;
    /* border: 1px solid blue; */
}

 .nav-bar>.nav-bar-left>div{
    display: flex;
    /* border: 1px solid green; */
    width: 70%;
    height: auto;
    margin-left: 150px;
    justify-content: space-between;
}

 .nav-bar>.nav-bar-left>div>div:nth-child(1)>img{
    width: 70%;
    margin-top: 10px;
    margin-left: 40px;
    cursor: pointer;
    /* border: 1px solid red; */
}

 .nav-bar>.nav-bar-left>div>div:nth-child(2){
    /* border: 1px solid red; */
    margin-right: 20px;
    margin-top: 20px;
    width: 120px;
}

 .nav-bar>.nav-bar-left>div>div:nth-child(2)>select{
    width: 120px;
    font-weight: 600;
    font-size: 14px;
    color: #343B53;
    border: none;
    cursor: pointer;
}



/* ---------Nav-bar-right----------- */


 .nav-bar>.nav-bar-right{
    width: 36%;
    height: 80px;
    /* border: 1px solid blue; */
}

 .nav-bar>.nav-bar-right>div{
    display: flex;
    width: 100%;
    height: 70px;
    margin: auto;
    /* border: 1px solid red; */
}

 .nav-bar>.nav-bar-right>div>div{
    width:600px;
    /* border: 1px solid blue; */
    margin-top: 25px;
    /* padding: 0px 40px; */

}
.nav-bar-right>div>div>a:hover{
    color:blue;
}

.nav-bar>.nav-bar-right>div>div>a{
    padding-left: 40px;
    font-size: 17px;
    font-weight: 550;
    text-decoration: none;
    color: #343B53;
}
 .nav-bar>.nav-bar-right>div>div>a:nth-child(1){
    padding-left: 200px;
}

 .nav-bar>.nav-bar-right>div>div>i{
    padding-left: 40px;
    color: #343B53;
    height: 30px;
    cursor: pointer;
    margin-top: 12px;
    /* width: 20px; */
    /* border: 1px solid red; */
} 


 .nav-bar>.nav-bar-right>div>div>i:nth-child(1){
    padding-left: 1px;
}



body{
    background-color: #F8F5F4;
}

#cont{
    margin-top: -250px;
    width:80%;
    /* border:1px solid black; */
    margin-left: 200px;
    display: grid;
    gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sub{
    /* border: 1px solid red; */
    height:220px;
    display: flex;
    background-color: #FFFFFF;
}
#sub>img{
    height: 220px;
    width:280px;
}
#s{
    /* border: 1px solid yellow; */
    display: flex;
    width: 95%;
    margin: auto;
}

#pr{
    width:20%;
    /* border: 1px solid blue; */
    /* align-items: flex-end; */
}
#hr{
    width: 80%;
}
#dec{
    color: rgb(140, 128, 128);
    margin: auto;
    /* margin-top: 40px; */
}
#decc{
    color: #0D7066;
}
#nic{
    margin-left: 10px;
    /* border:1px solid green; */
    /* background-color: aqua; */
 }
 #sor{
    /* border:1px solid red; */
    width: 180px;
    /* margin-left: 10px; */
    /* text-align: center; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }
 #sor>button{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid black;
    color: grey;
    width:190px
 }
#sor>h3{
    text-decoration: underline;
}
 #sor>button:hover{
    /* background-color: lightblue ; */
    border: 2px solid black;
    width: 190px;
 }

 #sorr{
    /* border:1px solid red; */
    width: 180px;
    /* margin-left: 10px; */
    /* text-align: center; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }
 #sorr>button{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid black;
    color: grey;
    width:190px
 }
#sorr>h3{
    text-decoration: underline;
}
 #sorr>button:hover{
    /* background-color: lightblue ; */
    border: 2px solid black;
    width: 190px;
 }

 #ss{
    /* border:1px solid red; */
    /* margin-top: 30px; */
    /* margin-left: 200px; */
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #ss>input{
    width: 90%;
    height: 30px;
    border: 2px solid black;
 }

 #sss{
    /* border:1px solid red; */
    /* margin-top: 30px; */
    /* margin-left: 600px; */
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #sss>input{
    width: 90%;
    height: 30px;
    /* border: 2px solid black; */
 }

 #sm{
    /* border:1px solid black; */
    display: flex;
    width: 700px;
    margin-left: 250px;
    gap: 100px;
 }